<div class="p-5">
  <h2>Angular Routing</h2>
  <ul>
    <li [routerLink]="['']">Home</li>
    <li [routerLink]="['about']">About</li>
    <li
      [routerLink]="['contact']"
      [queryParams]="{ country: 'india' }"
      fragment="foo-bar"
    >
      Contact
    </li>
    <li [routerLink]="['customer', 145]">Customer</li>
    <li [routerLink]="['admin', 'dashboard']">Admin / Dashboard</li>
    <li [routerLink]="['admin', 'reports']">Admin / Reports</li>
    <hr />
    <li [routerLink]="['news', 'national']">National News</li>
    <li [routerLink]="['news', 'global']">Global News</li>
    <li [routerLink]="['news', 'global', 2023]">Global News 2023</li>
    <li [routerLink]="['news', 'sports']">Sports News</li>
    <li [routerLink]="['news', 'science']">Science News</li>
  </ul>
  <hr />
  <router-outlet></router-outlet>
</div>
